*.class

# Target directory in any folder vs /target/ (root target folder) vs /*/target/ (root children target folders) vs /*/*/target (grandchildren) X
*target*

# Bin directory in any folder vs /bin/ (root bin folder) vs /*/bin/ (root children bin folders) vs /*/*/bin (grandchildren) X
*bin*

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Eclipse project settings
*.metadata*
*.project*
*.settings*
*.classpath*

# Mac directory info
.DS_Store

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

